#### 서울 열린데이터 광장 공공데이터 수집

##### 서울열린데이터광장
주소 : https://data.seoul.go.kr/together/mypage/actkeyMain.do

서울시 행정구역 시구군부별 위치, 인구

In [1]:
import requests
import pandas as pd

In [2]:
# API 호출키
SEOUL_API_KEY = '4a66464e5170657236376462466b51'

In [3]:
# 시군구 목록 API
url = 'https://openapi.seoul.go.kr:8088'

In [7]:
# 서울시 시군구별 인구 데이터
pop_df = pd.read_excel('./주민등록인구_2307.xlsx', header=1, usecols='B:H')
columns = {
    '동별(2)':'구', '세대 (세대)':'세대수', '계':'계', '한국인':'한국인', 
    '등록외국인':'외국인', '세대당인구':'비율', '65세이상고령자':'고령자' }
pop_df.rename(columns=columns, inplace=True)

In [8]:
pop_df

       구      세대수        계      한국인     외국인    비율      고령자
0     소계  4463385  9668008  9426404  241604  2.11  1690961
1    종로구    72679   152212   141060   11152  1.94    28265
2     중구    63862   131390   120963   10427  1.89    25353
3    용산구   109735   232482   217756   14726  1.98    39478
4    성동구   133513   287240   280240    7000  2.10    48238
5    광진구   169787   350925   336801   14124  1.98    54854
6   동대문구   171140   354884   337574   17310  1.97    65154
7    중랑구   187898   389928   385003    4925  2.05    76116
8    성북구   197859   441855   430100   11755  2.17    78427
9    강북구   144557   296934   292762    4172  2.03    67056
10   도봉구   138376   312858   310509    2349  2.24    68114
11   노원구   218341   506989   502515    4474  2.30    93279
12   은평구   213989   468766   464871    3895  2.17    90556
13  서대문구   147146   321966   308437   13529  2.10    56785
14   마포구   181034   376542   365570   10972  2.02    56582
15   양천구   181072   442345   439219    3126  2.43    73522
16   강서구   274283   573711   568287    5424  2.07    98659
17   구로구   184268   417983   395183   22800  2.14    77259
18   금천구   120051   242467   229307   13160  1.91    43772
19  영등포구   190252   398999   376614   22385  1.98    66014
20   동작구   186534   390377   380201   10176  2.04    68766
21   관악구   285914   502628   487815   14813  1.71    83420
22   서초구   168234   408979   404831    4148  2.41    63328
23   강남구   234735   537817   532798    5019  2.27    83097
24   송파구   285489   663704   658006    5698  2.30   105161
25   강동구   202637   464027   459982    4045  2.27    79706

In [10]:
# 첫번째 행인 합계 삭제
pop_df.drop([0], axis=0, inplace=True)
pop_df

       구     세대수       계     한국인    외국인    비율     고령자
1    종로구   72679  152212  141060  11152  1.94   28265
2     중구   63862  131390  120963  10427  1.89   25353
3    용산구  109735  232482  217756  14726  1.98   39478
4    성동구  133513  287240  280240   7000  2.10   48238
5    광진구  169787  350925  336801  14124  1.98   54854
6   동대문구  171140  354884  337574  17310  1.97   65154
7    중랑구  187898  389928  385003   4925  2.05   76116
8    성북구  197859  441855  430100  11755  2.17   78427
9    강북구  144557  296934  292762   4172  2.03   67056
10   도봉구  138376  312858  310509   2349  2.24   68114
11   노원구  218341  506989  502515   4474  2.30   93279
12   은평구  213989  468766  464871   3895  2.17   90556
13  서대문구  147146  321966  308437  13529  2.10   56785
14   마포구  181034  376542  365570  10972  2.02   56582
15   양천구  181072  442345  439219   3126  2.43   73522
16   강서구  274283  573711  568287   5424  2.07   98659
17   구로구  184268  417983  395183  22800  2.14   77259
18   금천구  120051  242467  229307  13160  1.91   43772
19  영등포구  190252  398999  376614  22385  1.98   66014
20   동작구  186534  390377  380201  10176  2.04   68766
21   관악구  285914  502628  487815  14813  1.71   83420
22   서초구  168234  408979  404831   4148  2.41   63328
23   강남구  234735  537817  532798   5019  2.27   83097
24   송파구  285489  663704  658006   5698  2.30  105161
25   강동구  202637  464027  459982   4045  2.27   79706

In [19]:
# 인덱스 재정의
pop_df.reset_index(drop=True, inplace=True)
pop_df.sum()

구      종로구중구용산구성동구광진구동대문구중랑구성북구강북구도봉구노원구은평구서대문구마포구양천구...
세대수                                              4463385
계                                                9668008
한국인                                              9426404
외국인                                               241604
비율                                                 52.47
고령자                                              1690961
dtype: object

In [14]:
seoul_last_df = pop_df[['구', '계']]

In [17]:
seoul_last_df.to_excel('./seoul_pop.xlsx', index=False)

##### 서울시 시군구별 사업체 데이터

In [26]:
biz_df = pd.read_excel('./사업체현황_2307.xlsx', header=3, usecols='B:G')
columns = {
   '동별(2)': '구',
   '소계' : '사업체수',
   '여성대표자' : '여성대표자',
   '소계.1': '종사자수계',
   '남': '종사자(남)',
   '여': '종사자(여)'
}
biz_df.rename(columns=columns, inplace=True)
biz_df.head()

c:\Program Files\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

     구     사업체수   여성대표자    종사자수계   종사자(남)   종사자(여)
0   소계  1188091  407948  5771226  3218529  2552697
1  종로구    48361   16563   275063   153210   121853
2   중구    70308   25794   386564   213782   172782
3  용산구    29680   10454   152605    84314    68291
4  성동구    41665   13447   203221   116978    86243

In [28]:
# 첫번째 행 삭제
biz_df.drop([0], axis=0, inplace=True)
biz_df.head()

     구   사업체수  여성대표자   종사자수계  종사자(남)  종사자(여)
1  종로구  48361  16563  275063  153210  121853
2   중구  70308  25794  386564  213782  172782
3  용산구  29680  10454  152605   84314   68291
4  성동구  41665  13447  203221  116978   86243
5  광진구  33706  12297  129707   71124   58583

In [32]:
seoul_biz_df = biz_df[['구', '사업체수', '종사자수계']]
seoul_biz_df.tail()

      구    사업체수   종사자수계
21  관악구   37915  128417
22  서초구   71958  487976
23  강남구  110007  801419
24  송파구   74531  400781
25  강동구   41660  157465

In [33]:
seoul_biz_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 1 to 25
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       25 non-null     object
 1   사업체수    25 non-null     int64
 2   종사자수계   25 non-null     int64
dtypes: int64(2), object(1)
memory usage: 732.0+ bytes

In [34]:
seoul_biz_df.to_excel('./seoul_biz.xlsx', index=False)